$h1-fs: 46px;
$h1-fs-mobile-fs: 22px;

$h2-fs: 28px;
$h2-fs-mobile-fs: 18px;

$h3-fs: 22px;

$text-extra-big-fs: 28px;
$text-big-fs: 20px;
$text-small-fs: 14px;

$btn-fs: 18px;
$input-fs: 14px;
$links-fs: 18px;
