.text {
  &-small {
    font-size: em($text-small-fs);
  }

  &-big {
    font-size: em($text-big-fs);
  }

  &-extra-big {
    font-size: em($text-extra-big-fs);
  }

  &-uppercase {
    text-transform: uppercase;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }
}

p {
  &.text {
    &-small {
      @include paragraph(1, $text-small-fs);
    }

    &-big {
      @include paragraph(1, $text-big-fs);
    }

    &-extra-big {
      @include paragraph(1, $text-extra-big-fs);
    }
  }
}
